%h1 Listing producers

%table
  %tr
    %th Name
    %th
    %th

  - @producers.each do |producer|
    %tr
      %td= producer.name
      %td= link_to 'Show', producer
      %td= link_to 'Edit', edit_producer_path(producer)

%br

= link_to 'New Producer', new_producer_path
|
= link_to 'Back to main page', reports_path
