%p#notice= notice

%p
  %b Name:
  = @producer.name

  %p
    %b Frame numbers of reported robberies:
    - @producer.bicycles.each do |bicycle|
      %br
      = bicycle.frame_number

= link_to 'Edit', edit_producer_path(@producer)
\|
= link_to 'Back', producers_path
